/* sundram css */

.confirm-box__actions {
  display: flex;
  text-align: center;

  justify-content: center !important;
  padding: 3rem 0 0.5rem 0;
}

.confirm-box__content {
  text-align: center;
}

.confirm-box__content span {
  text-align: center;
  color: black !important;
  text-transform: capitalize;
  font-size: 1.5rem;
}

.confirm-box__actions button:first-child {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.confirm-box__actions button:first-child:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}

.confirm-box__actions button {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  padding: 0.375rem 0.75rem;
}

.confirm-box__actions button:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #bd2130;
}

.confirm-box {
  z-index: 1000;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.confirm-box__content {
  box-shadow: 0 10px 15px 0px rgb(0 0 0 / 20%);
  padding: 2em;
  width: 400px;
}
.confirm-box__overlay {
  display: none;
}
.img-responsive {
  width: 100%;
}

.close-btn {
  position: absolute;
  right: 0px;
  top: -15px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
}